.login-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #1d2230;
  color: white;
  

  .login-left {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      width: 500px;
      display: flex;
      flex-direction: column;

      h2 {
        text-align: center;
        margin-bottom: 20px;
      }

      .input {
        padding: 10px;
        margin-bottom: 12px;
        border: none;
        border-radius: 4px;
        background-color: #2e3448;
        color: white;
      }

      .options {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;

        .eye-btn {
          background: none;
          border: none;
          cursor: pointer;
          color: white;
          font-size: 18px;
        }
      }

      .login-btn {
        margin-top: 15px;
        padding: 10px;
        background-color: #448aff;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #2979ff;
        }
      }

      .links {
        margin-top: 10px;
        text-align: center;

        a {
          color: #448aff;
        }
      }

      footer {
        margin-top: 20px;
        text-align: center;
        font-size: 12px;

        a {
          color: #448aff;
        }
      }
    }
  }

  .login-right {
    flex: 1;
    background: url('/pexels-ian-panelo-6789779.jpg') center center / cover no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.4); // dark overlay for readability
    }

    .signup-box {
      position: relative;
      z-index: 0.7;
      background-color: #448aff;
      padding: 30px;
      border-radius: 8px;
      width: 400px;
      text-align: center;
      color: white;

      h2 {
        margin-bottom: 15px;
      }

      p {
        font-size: 14px;
        margin-bottom: 20px;

        a {
          color: white;
          text-decoration: underline;
        }
      }

      .signup-btn {
        padding: 10px 20px;
        background-color: black;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #222;
        }
      }
    }
  }
}
